@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Tailwind classes */
.input-style {
  @apply w-full px-4 py-2 border border-gray-300 rounded-lg;
}

.btn-style {
  @apply mt-6 px-6 py-3 bg-blue-800 text-white rounded-lg hover:bg-blue-700;
}
